.icon {
  width: 64px;
  height: 64px;
  vertical-align: top;
  border: 30px solid rgb(0, 0, 0);
  border-radius: 30px;
}

#sketch_canvas {
  border: 5px solid black;
  border-radius: 10px;
}

#button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thin-thick-button {
  border: 2px solid black;
}

.thin-thick-button.selected {
  background-color: rgb(133, 225, 255);
}

.draw-button.selected {
  background-color: rgb(133, 225, 255);
}
